{% extends 'base.html' %}

{% block content %}
    <div class="container" style="padding: 20px;">
        <div class=row g-4>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://th.bing.com/th/id/OIP.gc3v_R63mg3Af_zbg8J3wAAAAA?cb=iwc2&rs=1&pid=ImgDetMain" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://th.bing.com/th/id/OIP.gc3v_R63mg3Af_zbg8J3wAAAAA?cb=iwc2&rs=1&pid=ImgDetMain" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://th.bing.com/th/id/OIP.gc3v_R63mg3Af_zbg8J3wAAAAA?cb=iwc2&rs=1&pid=ImgDetMain" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://th.bing.com/th/id/OIP.gc3v_R63mg3Af_zbg8J3wAAAAA?cb=iwc2&rs=1&pid=ImgDetMain" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}